.lteie8
	.header
		.divider, .adv
			*display: inline
			zoom: 1
		.profile
			.profile__auth
				li
					*display: inline
					zoom: 1
		.language
			li
				*display: inline
				zoom: 1
				padding-top: 12px
				a, span
					display: block

	.footer
		.footer__socials
			li
				*display: inline
				zoom: 1

	.search
		.search__input
			width: 565px
			height: auto
			padding: 15px 10px
		.search__select
			margin-top: 0

	.hero
		.hero-bg
			display: block
		.hero__pane
			display: none
			&.is-visible
				display: block
		.hero__tabs
			li
				*display: inline
				zoom: 1
			.hero__number
				*display: inline
				zoom: 1
				cursor: pointer

	.navbar
		ul, li
			*display: inline
			zoom: 1

	.info
		.benefits
			.benefits__list
				li
					*display: inline
					zoom: 1

	.topper
		.topper__nav
			li
				*display: inline
				zoom: 1

	.breadcrumb
		li
			*display: inline
			zoom: 1
			margin-left: 3px

	div
		.editable
			display: none
		&.is-editable
			.editable
				background: url(../img/edit-bg.png)

	.sticker
		*display: inline
		zoom: 1

	.category
		.post__content
			height: auto

	.catalog
		.post__content
			height: 160px

	.otherlinks
		.otherlinks__row
		ul
			overflow: hidden
		li
			height: 45px
			i[class^="icon_"], [class*=" icon_"]
				*display: inline
				zoom: 1
		.otherlinks__content
			*display: inline
			zoom: 1
	.box
		.box__search-btn
			.btn
				*display: inline
				zoom: 1
	.table__promotion
		tr
			td, th
				.checkbox 
					input
						opacity: 1
						z-index: 1
				.checkbox input + span
					&:before
						background: none
			td
				.select__drop
					border: none 
				ul
					margin-top: 0 
					border: 1px solid #D7D7D7
					li
						border-top: 1px solid #D7D7D7
						&:first-child
							border: none 
	.select
		line-height: 26px
	.select_mini-40
		border: 1px solid #fff 
		span
			display: inline
		ul
			width: 140px
			margin-left: 1px 
			li
				width: 120px
			.marker_green, .marker_pause, .marker_delete
				top: -2px
		&:hover
			border: 1px solid #D7D7D7 
	.pagination
		margin: 0 40%
		margin-bottom: 45px
		width: 20%
		+clr
		li
			float: left
			display: block
			vertical-align: top
	.pagination__prew
		width: 24px
		height: 19px
	.pagination__next
		width: 24px
		height: 19px






















