.lteie8
	.header
		.divider, .adv
			display: inline
		.profile
			.profile__auth
				li
					display: inline
		.language
			li
				display: inline
				padding-top: 12px
				a, span
					display: block

	.footer
		.footer__socials
			li
				display: inline