html, body
	height: 100%

html
	font-size: 62.5%
	font-family: sans-serif
	-ms-text-size-adjust: 100%
	-webkit-text-size-adjust: 100%

body
	margin: 0
	font:
		family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif
		weight: normal
	line-height: 1.4
	+fs(12)
	min-width: 960px

+selection(#fff, #00ade6)

input, textarea
	color: #000
.placeholder
	color: #999 !important

// *
	// border: 1px solid red
	// +box-shadow(0px 0px 1px 1px red)

// page wrapper
=wrap
	width: 940px
	margin: 0 auto

// icons
.icon
	display: inline-block
	&.icon_login
		+s(login)

// buttons
=btn
	display: inline-block
	padding: 0 15px
	height: 30px
	line-height: 30px
	font-size: 12px
	+br(2px)
	background: #4db11d
	text-decoration: none
	color: #fff
	+transition(all .2s linear)
	&:hover
		background: #46a01b
		text-decoration: none
	&:active
		+box-shadow(inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05))
.btn
	+btn

// sticky footer
.out
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -230px
.push, .footer
	height: 230px

// header
.header
	color: #fff
	+fs(12)
	height: 60px
	overflow: hidden
	background-color: #231f20
	a
		text-decoration: none
		color: #fff
		&:hover
			text-decoration: underline
	.btn
		text-decoration: none
		&:hover
			text-decoration: none
	.header-i
		position: relative
		max-width: 1400px
		margin: 0 auto
		padding: 0 10px 0 0
		+clr
	.header__line
		position: absolute
		right: 100%
		width: 1000px
		height: 60px
		background: #00ade6
	.header__logo
		float: left
		position: relative
		+ht
		a
			display: block
			+s(logo)
	.header__toolbar
		float: right
		text-align: right
	.divider
		position: relative
		display: inline-block
		vertical-align: top
		padding-left: 20px
		padding-right: 20px
		height: 60px
		line-height: 60px
		border-left: 1px solid #383435
	.language
		margin-right: -3px
		padding-left: 2px
		padding-right: 0
		li
			display: inline-block
			text-transform: uppercase
			color: #fff
			font-size: 11px
			text-align: center
			+br(50%)
			border: 3px solid transparent
			+transition(all .2s linear)
			a, span
				display: block
				text-decoration: none
				color: inherit
				vertical-align: top
				width: 30px
				height: 30px
				line-height: 30px
				+br(50%)
				+transition(all .2s linear)
			&.is-active
				cursor: default
				a
					&:hover
						cursor: default
			&.is-active, &:hover
				border: 3px solid rgba(255,255,255,.1)
				a, span
					background-color: #4db11d
					+box-shadow(inset 0 1px 0 rgba(255,255,255,.35))
	.profile
		.profile__auth
			li
				display: inline-block
				position: relative
				padding-left: 15px
				&:before
					position: absolute
					top: 50%
					margin-top: -2px
					left: 4px
					background: #656565
					content: ""
					width: 4px
					height: 4px
					+br(50%)
				&:first-child
					padding-left: 0
					&:before
						content: none
		.profile__login
			.icon_login
				margin-bottom: -3px
				padding-right: 11px
	.adv
		display: inline-block
		vertical-align: top
		height: 60px
		line-height: 60px
		padding: 0 20px
		.adv__btn
			+btn

// footer
.footer
	background: #222
	.footer-i
		+wrap
		padding: 20px 0 10px
		color: #fff
	.footer__copyright
		margin-top: 2.6em
		color: #666
		clear: both
		a
			color: #666
			text-decoration: underline
			&:hover
				text-decoration: none
	.footer__content
		+clr
		color: #ccc
		a
			color: #ccc
			text-decoration: none
			&:hover
				text-decoration: underline
	.footer__item
		position: relative
		float: left
		margin-left: 20px
		width: 300px
		&:before
			position: absolute
			bottom: 5px
			left: -20px
			height: 100px
			width: 1px
			background: #373737
			content: ""
		&:first-child
			margin-left: 0
			&:before
				content: none
	.footer__row
		+clr
		height: 108px
	.footer__col
		float: left
		width: 140px
		margin-left: 20px
		&:first-child
			margin-left: 0
		p
			line-height: 1
			margin-top: 2.2em
			&:first-child
				margin-top: 0
		li
			margin-top: 1.2em
			&:first-child
				margin-top: 0
	.footer__title
		text-transform: uppercase
		color: #fff
		+fs(12)
		line-height: 1
		margin-bottom: 2.2em
	.footer__stats
		display: block
		+fs(20)
		margin-bottom: 0.3em
	.footer__tel
		+fs(20)
		color: #fff
		margin-top: 0
	.footer__feedback
		margin-top: .6em
	.footer__socials
		margin-top: 1em
		li
			display: inline-block
			vertical-align: top
			margin-top: 0
			margin-left: 7px
			&:first-child
				margin-left: 0
			a
				display: block
				+ht
				&.footer__socials_gp
					+s(gp)
				&.footer__socials_tw
					+s(tw)
				&.footer__socials_fb
					+s(fb)

// search
.search
	background-color: #fff
	+wrap
	.search-i
		height: 50px
		line-height: 50px
		padding: 40px 0
	.yellow-pages
		float: left
		width: 160px
		+fs(20)
		a
			color: #333
			text-decoration: none
			&:hover
				text-decoration: none
	.search__form
		position: relative
		width: 780px
		float: right
	.search__input
		position: absolute
		top: 0
		left: 0
		width: 100%
		color: #000
		+box
		height: 50px
		border: 1px solid #d7d7d7
		+br(2px)
		padding: 0 230px 0 10px
		+fs(16)
		+placeholder(#999)
		outline: 0
		&:focus
			+placeholder(#fff)
	.search__select
		float: right
		width: 160px
		margin-top: -1px
		select
			width: 160px
			outline: 0
		.ui-selectmenu
			background-color: #231f20
			height: 50px
			// line-height: 50px
			+fs(14)
			color: #fff
			&:focus, &:active
				outline: 0
			&.ui-state-active
				.ui-selectmenu-icon
					+rotate(180)
		.ui-selectmenu-status
			padding: 0 30px 0 20px
			line-height: 50px
			white-space: nowrap
			-ms-text-overflow: ellipsis
			text-overflow: ellipsis
			overflow: hidden
		.ui-selectmenu-icon
			+s(search-arrow)
			right: 10px
			margin-top: -4px
	.search__btn
		position: relative
		width: 60px
		height: 50px
		float: right
		background-color: #0095db
		+br(0 2px 2px 0)
		border: 0
		outline: 0
		+transition(all .2s linear)
		&:hover
			background-color: #008ac9
		&:active
			+box-shadow(inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05))
		i
			display: inline-block
			vertical-align: top
			+s(search)

// hero
.hero
	position: relative
	overflow: hidden
	background: url(../img/hero-bg.jpg) no-repeat center center #5e98ff
	background-size: cover
	&:before
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 1px
		content: ""
		background: rgba(#000, .05)
	.hero-bg
		display: none
		min-height: 110%
		min-width: 1024px
		width: 100%
		height: auto
		position: absolute
		bottom: 0
		left: 0
	.hero-shadow
		position: absolute
		top: 0
		left: 50%
		margin-left: -485px
		width: 969px
		height: 479px
		content: ""
		background: url(../img/hero-shadow.png) no-repeat
	.hero-i
		position: relative
		height: 570px
		max-width: 1400px
		min-width: 940px
		margin: 0 auto
		padding: 0 10px 0
		z-index: 10
	.hero__tabs
		position: relative
		z-index: 110
		text-align: center
		padding-top: 25px
		margin-bottom: 25px
		li
			display: inline-block
			padding: 0 15px
			&:hover,&.is-active
				color: #fff
				// text-shadow: 0px 1px 1px #b1b1b1
				a
					color: #fff
					&:hover
						color: #fff
						text-decoration: none
				.hero__number
					border: 2px solid #fff
					// text-shadow: 0px 1px 1px #d1d1d1
					// +box-shadow(0px 1px 1px #d1d1d1)
		a
			display: block
			text-align: center
			color: #333
			text-decoration: none
			+transition(color 0.3s ease-in)
			+fs(14)
		.hero__number
			display: inline-block
			+fs(30)
			width: 50px
			height: 50px
			line-height: 50px
			border: 2px solid #333
			margin: 0 auto 15px
			+transition(border 0.3s ease-in)
			+br(50%)
	.hero__pane
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		height: 457px
		opacity: 0
		z-index: -1
		+transition(all .5s ease-in)
		.hero__picture
			position: absolute
			bottom: 0
			left: 0
			+transform(translate3d(-200%,0,0))
			+transition(all .7s ease-in)
		.hero__article
			position: absolute
			right: 45px
			top: 105px
			float: right
			width: 380px
			+fs(12)
			color: #333
		.hero__title
			+fs(24)
			font-weight: normal
			margin-bottom: 1em
			+transform(translate3d(0,-200%,0))
			+transition(all .5s ease-in)
			&.hero__title_mod
				+fs(20)
				padding-right: 55px
		.hero__text
			margin-bottom: 2em
			line-height: 1.5
			width: 300px
			+transform(translate3d(200%,0,0))
			+transition(all .5s ease-in)
		.hero__button
			+transform(translate3d(200%,0,0))
			+transition(all .6s ease-in)
			.btn
				margin-right: 8px
		&.is-visible
			opacity: 1
			z-index: 100
			.hero__picture
				+transform(translate3d(0,0,0))
			.hero__article
				+transform(translate3d(0,0,0))
			.hero__title
				+transform(translate3d(0,0,0))
			.hero__text
				+transform(translate3d(0,0,0))
			.hero__button
				+transform(translate3d(0,0,0))









