// *
	// border: 1px solid red
	// +box-shadow(0px 0px 1px 1px red)

// colors
$grey: #f6f6f6
$blue: #0096db
$dark: #333
$green: #4db21d

// page wrapper
=wrap
	width: 940px
	margin: 0 auto

=b-box
	+br(2px)
	border: 1px solid #eee
	margin-bottom: 20px
.box
	+b-box


html, body
	height: 100%

html
	font-size: 62.5%
	font-family: sans-serif
	-ms-text-size-adjust: 100%
	-webkit-text-size-adjust: 100%

body
	margin: 0
	font:
		family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif
		weight: normal
	line-height: 1.4
	+fs(12)
	min-width: 960px
	color: $dark
	&.is-navbar-fixed
		padding-top: 42px

+selection($dark, rgba($green, .6))

input, textarea
	color: $dark
.placeholder
	color: #999 !important


.topper
	background: $grey
	border: solid #ddd
	border-width: 1px 0
	margin-bottom: 40px
	.topper-i
		+wrap
		padding: 20px 0

.breadcrumb
	li
		display: inline-block
		a, span
			color: #666
		a
			text-decoration: none
			&:hover
				text-decoration: underline
		&.is-active
			a, span
				color: #999

.box
	&.box_slide
		&.is-active
			.box__content
				display: block
			.box__headline
				.icon_arrow
					+rotate(180)
		.box__headline
			cursor: pointer
			border: none
		.box__content
			border-top: 1px solid #eee
			display: none
	&.box_map
		&.is-editable
			.box__edit
				display: block
		.box__content
			padding: 0
			height: 208px
			overflow: hidden
		.box__edit
			display: none
	&.box_fill
		background: $grey
		.box__content
			background: $grey
			// padding-bottom: 0
	&.box_contact
		position: relative
		.box__overlay
			display: none
		&.is-editable
			&:hover
				.box__overlay
					display: block
					opacity: 1
					z-index: 10
			.box__overlay
				display: block
				+transition(all .2s linear)
				opacity: 0
				z-index: -1
				position: absolute
				background: rgba($blue, .8)
				top: 0
				left: 0
				right: 0
				bottom: 0
				+br(2px)
				content: ""
				color: #fff
				+fs(11)
				text-align: center
				cursor: pointer
				.icon_edit
					display: block
					margin: 0 auto 7px
				.box__overlay-content
					position: absolute
					top: 50%
					left: 50%
					margin-top: -30px
					margin-left: -100px
					height: 60px
					width: 200px
					content: ""
					cursor: pointer
	.box__headline
		position: relative
		background: $grey
		padding: 10px
		border-bottom: 1px solid #eee
		[class^="icon_"], [class*=" icon_"]
			margin-right: 10px
		.icon_arrow
			position: absolute
			top: 50%
			right: 0
			margin-top: -4px
			content: ""
			+s(arr)
	.box__title
		+fs(12)
		line-height: 1
		font-weight: bold
	.box__content
		position: relative
		padding: 10px 10px 0
		background: #fff
		p
			margin-bottom: 1em
		dl
			dt
				color: #999
			dd
				margin-bottom: 1em
			p
				margin-bottom: 0
			a
				color: $dark
				text-decoration: none
				&:hover
					text-decoration: underline
	.box__tel
		+fs(18)
		font-weight: bold
		text-align: center
		border-bottom: 1px solid #eee
		padding: 10px
		background: #fff
		[class^="icon_"], [class*=" icon_"]
			margin-right: 10px
	.box__tel-code
		color: #999
	.box__pin
		position: absolute
		top: 50%
		left: 50%
		margin-left: -10px
		margin-top: -15px
		content: ""
		+s(pin)
	.box__button
		text-align: center
	.box__search-btn
		text-align: justify
		.btn
			margin-bottom: 10px
	.box__edit
		position: absolute
		top: 4px
		right: 4px
		content: ""
		+s(ed)




.catalog
	.catalog__list
	.catalog__item
		+clr
		margin-top: 40px
		&:first-child
			margin-top: 0
	.catalog__image
		float: left
		width: 220px
		margin-right: 20px
		height: 160px
		overflow: hidden
		img
			max-width: 220px
			min-height: 160px
		a
			display: block
			height: 100%
	.catalog__content
		overflow: hidden
	.catalog__title
		+fs(16)
		font-weight: bold
		margin-bottom: 1em
	.catalog__text
		+fs(12)
		color: #666










