.out
	min-width: 320px

.inner
	max-width: 940px
	padding: 0 20px
	margin: 0 auto
	+clr
	position: relative
	+r(900)
		padding: 0 12px 
.header
	border-bottom: 1px solid #eeeeee
	position: relative
	&__menu
		padding: 0 60px 0 232px 
		+clr
		font-size: 0
		+r(900)
			position: absolute
			top: 100%
			right: 71px
			background: #fff 
			padding: 10px 12px
			margin: 1px 0 0  
			text-align: right
			border: 1px solid #eeeeee
			border-top: none
			+border-radius(0 0 4px 4px)
			max-height: 0
			+transition(max-height 0.4s, opacity 0.1s, visibility 0.1s)
			+opacity(0)
			visibility: hidden
			overflow: hidden
			z-index: 200 
		+r(400)
			right: 0
		&.is-active
			+r(900)
				max-height: 200px 
				+opacity(1)
				visibility: visible
		li
			+r(900)
				margin-bottom: 5px
			a
				+reg
				font-size: 12px
				color: #0eb0ea
				&:hover
					text-decoration: underline
	&__list
		padding: 31px 0 0
		float: right
		+r(900)
			float: none
			padding: 0
		li
			display: inline-block
			vertical-align: top
			padding: 0 10px 0 12px
			position: relative
			+r(900)
				display: block
				padding: 0
			&:before
				content: "" 
				position: absolute
				top: 50%
				left: 0
				margin-top: -2px
				width: 4px
				height: 4px
				+border-radius(50%)
				background-color: #0EB0EA
				+r(900)
					display: none
			&:first-child
				&:before
					display: none
	.btn
		float: right
		width: 80px
		margin: 25px 20px 0 7px
		+r(900)
			float: none
			margin: 5px 0 10px
	.btn-menu
		float: right
		margin: 25px 20px 0 0
		display: none
		+r(900)
			display: block
		+r(400)
			margin: 25px 0 0
			position: absolute
			top: 0
			right: 0
.logo
	float: left
	margin: 16px 40px 10px 0 
	font-size: 0 
.nav
	float: left
	padding: 31px 0 0
	+r(900)
		float: none
		padding: 0
	li
		display: inline-block
		vertical-align: top
		padding: 0 8px
		+r(900)
			display: block
			padding: 0

.lang
	float: right
	border-left: 1px solid #eeeeee
	height: 79px
	padding: 33px 0 10px 9px
	+box
	+r(400)
		float: none
		clear: both
		border: none
		height: auto
		padding: 10px 0 10px
	&__inner
		position: relative
		padding: 0 15px 0 0 
		width: 35px
		&:after
			content: "" 
			position: absolute
			top: 6px
			right: 0
			+s(arr-bot)
		&:hover
			.lang__drop
				display: block
	&__link
		+med
		font-size: 10px
		letter-spacing: 0.025em 
		color: #0eb0ea 
		text-transform: uppercase
	&__drop
		position: absolute
		top: 100%
		left: 0
		right: 0
		display: none		
		z-index: 10
		margin: 0 -5px
		padding: 0 5px
		background: #fff 
		+r(400)
			padding: 5px  
		
//main
.main
	padding: 20px 0 40px
//tabs
.tabs
	+border-radius(2px 2px 0 0)
	overflow: hidden
	&__list
		font-size: 0
		background: #0ea0d4  
		display: table
		width: 100%
		+r(640)
			display: block
		a
			+reg
			font-size: 13px
			text-transform: uppercase
			color: #fff
			letter-spacing: 0.025em 
			display: table-cell
			width: 33.33% 
			padding: 22px 60px 20px 20px
			+box
			position: relative
			+r(640)
				display: block
				width: 100%
			&.is-active
				background: #0eb0ea 
			&:hover
				text-decoration: underline
			i
				position: absolute
				top: 0
				right: 10px
				width: 40px
				padding: 20px 0 0
				height: 30px 
				background: #ffd900
				+border-radius(0 0 2px 2px) 
				text-align: center
				&:before
					content: "" 
					display: inline-block
				&.is-google
					&:before
						+s(tab-google)
				&.is-premium
					&:before
						+s(tab-premium)
				&.is-my-ad
					&:before
						+s(tab-my-ad)
				&.is-mod
					background: none
	&__block
		background: #0eb0ea
		font-size: 0
		li
			display: inline-block
			vertical-align: top
			padding: 0 6px 
			+r(640)
				display: block
				width: 100%
				padding: 0 
			a
				+reg
				font-size: 12px
				letter-spacing: 0.025em 
				color: #b3e5fc
				padding: 22px 14px
				display: block
				position: relative
				+transition(all 0.2s)
				+r(640)
					padding: 11px 20px 
				&:hover, &.is-active
					color: #fff 
					&:before
						height: 4px
						+r(640)
							height: 1px
				&:before
					content: "" 
					position: absolute
					background: #0b8dbb
					bottom: 0
					left: 0
					right: 0
					height: 0
					+transition(all 0.2s)
					+r(640)
						height: 1px
						

//container
.container
	+clr

.add
	background: #f0f1f5 
	padding: 20px 20px 0
	&__inner
		+clr
		position: relative
		+r(700)
			max-width: 460px
			margin: 0 auto
	.help
		position: absolute
		top: 0
		right: 0
		margin-left: 20px
		width: 200px 
		+r(700)
			display: none
	.form
		padding: 0 220px 
		position: relative
		+r(900)
			padding: 0 220px 0 0
		+r(700)
			padding: 0  
	h4
		margin-bottom: 20px
	&__heading
		+clr
		.btn
			float: right
			+r(500)
				float: none
				margin-bottom: 20px
		h4
			overflow: hidden
			padding: 4px 0 5px 
			float: left
			+r(500)
				float: none
				padding: 0 
.help
	background: #0eb0ea
	+border-radius(2px) 
	+transition(all 0.2s)
	&__header
		+clr
		padding: 10px
		border-bottom: 1px solid #3bbceb  
		i
			font-style: normal
			+bold
			font-size: 12px
			color: #0eb0ea
			width: 30px
			line-height: 30px
			background: #fff
			+border-radius(50%) 
			text-align: center
			float: left
			margin: 0 9px 0 0
		span
			display: block
			overflow: hidden
			+med
			font-size: 12px
			color: #fff
			padding: 7px 0
	&__body
		padding: 0 10px
		p
			+reg
			font-size: 11px
			color: #fff
			padding: 7px 0 
			line-height: 1.2
			
.form
	+clr
.field
	position: relative
	width: 100%
	margin-bottom: 20px
	font-size: 0
	label
		position: relative
		display: block
	.label
		position: absolute
		top: 7px
		right: 100%
		margin-right: 18px
		text-align: right
		width: 200px
		+r(900)
			position: static
			margin: 0 0 7px
			display: block
			text-align: left
			width: auto
	&__row
		margin: 0 -10px -20px
		+clr
	&__box
		width: 33.33%
		padding: 0 10px 20px
		+box 
		float: left
		+r(500)
			width: 50%
	.file
		border: 1px solid #d7d7d7
		+border-radius(2px)
		background: #f3f4f7
		display: block
		position: relative
		height: 0
		padding-bottom: 100%
		overflow: hidden
		cursor: pointer
		&:hover
			.file__delete
				+opacity(1)
				visibility: visible
		&__delete
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			+opacity(0)
			visibility: hidden
			+transition(all 0.3s)
			&:before, &:after
				content: "" 
				position: absolute
			&:before
				top: 0
				bottom: 0
				left: 0
				right: 0
				background: red
				+opacity(0.7)
			&:after
				top: 50%
				left: 50%
				margin-top: -9px
				margin-left: -9px
				+s(file-delete)
		img
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			width: 100%
			height: 100% 
		input
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			+opacity(0)
			visibility: hidden
			z-index: 3
		span
			z-index: 1
			position: absolute
			width: 16px
			height: 16px
			top: 50%
			left: 50%
			margin: -8px 0 0 -8px
			&:before, &:after
				position: absolute
				content: "" 
				background: #cccccc
			&:before
				top: 0
				bottom: 0
				left: 50%
				width: 4px
				margin-left: -2px 
			&:after
				left: 0
				right: 0
				top: 50%
				height: 4px
				margin-top: -2px 
	&__mail
		max-width: 220px
		float: left
		width: 100%
		margin: 0 20px 0 0 
		position: relative
		&.is-price
			+r(500)
				width: 200px 
	&__checkbox
		float: left
		padding: 5px 0 5px 0 
	&__inner
		margin-bottom: 10px
		+clr
		.field__checkbox
			+r(500)
				float: none
				clear: both
	&__price
		float: left
		font-size: 12px
		+reg
		margin: 6px 10px 6px 0
		color: #0096db 
	&_newspaper
		.textarea
			+border-radius(2px 2px 0 0)
			height: 60px
	&_btns
		.btn
			margin-right: 20px
	&__drop
		position: absolute
		font-size: 0
		top: 100%
		left: 50%
		+translateX(-50%)
		width: 190%
		z-index: 200
		background: #fff
		+box-shadow(0 2px 5px rgba(0, 0, 0, 0.5))  
		padding: 20px 
		margin-top: 5px
		display: none
		+box
		&_region
			width: 100%
		+r(900)
			width: 100%
		&.is-active
			display: block
	&__lists-wrap
		overflow: hidden
	&__lists
		position: relative
		left: 0
		+r(500)
			height: 200px
			overflow: auto
	&__list
		width: 33.3%
		display: inline-block
		vertical-align: top
		border-right: 1px solid #d7d7d7 
		overflow: auto
		+box
		+r(500)
			width: 100%
			height: auto
			overflow: visible
			border: none
			border-bottom: 1px solid #d7d7d7
		&.is-child
			position: absolute
			top: 0
			bottom: 0 
			+r(500)
				position: static
			&:nth-child(2)
				left: 33.3%
			&:nth-child(3)
				left: 66.6%
			&:nth-child(4)
				left: 99.9%
			&:nth-child(5)
				left: 133.2%
			&:nth-child(6)
				left: 166.5%
			&:nth-child(7)
				left: 199.8%
			&:nth-child(8)
				left: 233.1%
			&:nth-child(9)
				left: 266.4%
			&:nth-child(10)
				left: 299.7%
		li
			color: #0094df
			cursor: pointer
			display: block
			padding: 5px
			margin: 0
			border: none
			font-size: 13.3px
			z-index: 20
			overflow: hidden
			white-space: nowrap
			-o-text-overflow: ellipsis
			-ms-text-overflow: ellipsis
			text-overflow: ellipsis
			&:hover
				color: #fff 
				+g(#00abec, #007dd5)
	&__choice
		clear: both
		padding: 20px 10px 10px
		button
			margin-right: 5px
			font-size: 12px
			line-height: 30px
			display: inline-block
			height: 30px
			padding: 0 15px
			+transition(all 0.2s)
			text-decoration: none
			color: white
			+border-radius(2px)
			background: #4db21d
			&:hover
				background: #449c19 
		a
			font-size: 11px
			padding-left: 5px
			color: #008ac3
	&__labels
		padding: 10px 
		max-height: 380px
		overflow: auto
		li
			display: inline-block
			vertical-align: top
			width: 50%
			margin-bottom: 5px
			+r(500)
				width: 100%
			.checkbox
				font-size: 13px
				color: #333 
				span
					overflow: hidden
					white-space: nowrap
					-o-text-overflow: ellipsis
					-ms-text-overflow: ellipsis
					text-overflow: ellipsis
					display: block
					width: 100%
	label
		&.error
			display: block
			margin-top: -1px
			font-size: 12px
			color: #fff
			background: #f44336  
			+border-radius(0 0 2px 2px)
			padding: 10px
			z-index: 100  
	.help
		&.is-files
			left: 100%
			top: 50%
			+translateY(-50%)	
	&__arr
		position: absolute
		top: 50%
		width: 50px
		height: 50px
		margin-top: -50px
		border: 1px solid #eee
		+box
		background: #fff 
		+r(500)
			display: none
		&:before
			content: ""
			position: absolute
			top: 50%
			left: 50%
			margin: -17px 0 0 -17px 
		&.is-left
			left: -50px
			border-right: none
			display: none
			&:before
				+s(left)
			&:hover
				&:before
					+s(left-hover)
		&.is-right
			right: -50px
			border-left: none
			&:before
				+s(right)
			&:hover
				&:before
					+s(right-hover)
	&_phone
		max-width: 220px
	&__phone
		+clr
		span
			float: left
			width: 60px
			text-align: center
			padding: 6px
			+box 
			background: #ebebeb
			+reg
			font-size: 12px
			color: #999 
			+border-radius(2px 0 0 2px)			
			border: 1px solid #d7d7d7
			border-right: none
		.input
			width: 160px
			+border-radius(0 2px 2px 0)
.message
	padding: 10px 10px 10px 50px
	position: relative
	height: 30px
	+vertical
	text-align: left
	+r(960)
		height: auto 
		min-height: 30px 
	&.is-okey
		background: #ebffdc 
		i
			background: #4caf50 
			&:before
				+s(ok)
				margin: -6px 0 0 -6px 
	&.is-error
		background: #f0dfe2
		i
			background: #f44336 
	i
		position: absolute
		top: 10px
		left: 10px
		width: 30px
		height: 30px
		line-height: 30px
		+border-radius(50%)
		+bold
		font-size: 14px
		color: #fff 
		text-align: center
		font-style: normal
		&:before
			position: absolute
			top: 50%
			left: 50%
			content: "" 
	p
		display: inline-block
		vertical-align: middle
		+reg
		font-size: 11px
		color: #666 
		line-height: 1.2
		+r(960)
			padding: 4px 0 
		a
			color: #0096db 

.dont-want
	background: #e1e2e8
	padding: 10px 9px
	border: 1px solid #d7d7d7
	border-top: none
	+border-radius(0 0 2px 2px) 

//footer
.footer
	background: #f7f8fb
	padding: 20px 0 20px 
	h6
		margin-bottom: 25px
	&__box
		float: left
		width: 50%
		font-size: 0
		+r(900)
			width: 100%
			float: none
			max-width: 500px
			margin-bottom: 20px
		+r(700)
			max-width: 460px
			margin: 0 auto 10px
	&__list
		li
			width: 33.3%
			display: inline-block
			vertical-align: top
			+r(460)
				width: 50%
			a
				+reg
				font-size: 12px
				line-height: 25px
				color: #00aeeb
				display: inline-block
				position: relative
				i
					position: absolute
					top: 0
					left: 100%
					+s(f-icon)
	&__col
		width: 33.3%
		display: inline-block
		vertical-align: top
		color: #000 
		line-height: 1
		margin-bottom: 10px
		+r(460)
			width: 50%
			margin-bottom: 20px
		span
			+light
			font-size: 30px
			display: block
		small
			+reg
			font-size: 12px
			display: block
	&__bottom
		+clr
		padding: 30px 0 0
		clear: both
	&__links
		width: 40%
		float: right
		padding: 14px 0 0 0
		font-size: 0 
		+r(900)
			float: none
			overflow: hidden
			width: auto
		+r(600)
			clear: both
		span
			font-family: Arial, sans-serif
			display: inline-block
			vertical-align: bottom
			font-size: 11px
			color: #26414C 
			margin: 0 7px 0 0 
	&__nav
		padding-bottom: 10px
		li
			display: inline-block
			vertical-align: top
			margin: 0 15px 2px 0 
		a
			font-family: Arial, sans-serif
			font-size: 11px  
			position: relative
			color: #0094DF
			border-bottom: 1px solid #B2DFF5
			&:hover
				color: #35B52A 
				border-bottom-color: #B5D5B2
	&__social
		display: inline-block
		vertical-align: top
		li
			display: inline-block
			vertical-align: bottom
			margin: 0 5px 0 0 
		a
			display: inline-block
			&.is-fb
				+s(fb)
			&.is-vk
				+s(vk)
			&.is-tw
				+s(tw)
			&.is-gp
				+s(gp)
	&__copy
		overflow: hidden
		padding: 11px 0 0 0
		max-width: 260px 
		+r(900)
			clear: both
			overflow: visible
			padding: 20px 0 0 
		p
			font-size: 11px
			color: #26414C
			small
				font-size: 85%
.feedback
	float: right
	width: 220px
	position: relative
	min-height: 65px 
	z-index: 100 
	+r(900)
		float: left
	&.is-active
		.feedback__info
			display: none
		.feedback__inner
			position: absolute
			bottom: 0
			right: 0
			width: 300px
			border: 1px solid #C5D9E4
			background: #daeaff 
			+border-radius(12px)
			+box
			+r(900)
				right: auto
				left: 0
				padding-left: 60px
			img
				+r(900)
					left: 18px 
		.feedback__popup
			display: block
		.feedback__close
			display: block
	&__inner
		padding: 14px 40px 4px 60px 
		+r(900)
			padding-left: 42px
	img
		position: absolute
		top: 13px
		left: 18px
		+r(900)
			left: 0
	span
		display: block
		color: #26414C
		i
			position: absolute
			top: 0
			right: 100%
			margin-right: 3px
	span, a
		font-family: Arial, sans-serif
		font-size: 11px  
		position: relative
	a
		color: #0094DF
		border-bottom: 1px dotted #B2DFF5
		&:hover
			color: #35B52A 
			border-bottom-color: #B5D5B2   
	&__close
		+s(close-green)
		position: absolute
		right: 12px
		top: 12px
		cursor: pointer
		display: none
		&:hover, &:active
			&:before
				display: block
		&:before
			content: "" 
			position: absolute
			top: 0
			left: 0
			+s(close-blue)
			display: none
	&__popup
		display: none
	&__text
		margin-bottom: 8px
		

//landing
.land
	.header
		.logo
			margin-right: 0
		.btn
			+r(900)				
				float: right
				margin: 25px 20px 0 7px
			+r(400)
				position: absolute 
				top: 0
				right: 0
				&:active
					margin-top: 26px
					top: 0
	&__promo
		background: #00b0eb
		position: relative
		+vertical
		height: 500px
		color: #fff 
		&:after
			content: "" 
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			background: url(../img/promo-bg.jpg) no-repeat
			+cover
			background-position: top center 
			+opacity(0.15) 
		.land__inner
			display: inline-block
			vertical-align: middle
			width: 100%
			text-align: left
		span
			+light
			font-size: 30px
			letter-spacing: 0.025em 
			line-height: 1.2
			display: block
			margin-bottom: 30px
		p
			+reg
			font-size: 12px
			letter-spacing: 0.025em 
			line-height: 1.2
			max-width: 440px
		&-btn
			padding: 20px 0 
			color: #fff 
			.btn
				width: 150px
				margin-right: 20px
			p
				+reg
				font-size: 12px
				letter-spacing: 0.025em 
				line-height: 1.2
				display: inline-block
				vertical-align: top
				padding: 13px 0 
	&__inner
		position: relative
		z-index: 2
		max-width: 980px
		padding: 0 20px
		margin: 0 auto
		+box
		+clr
		+r(900)
			padding: 0 12px 
	h5
		margin-bottom: 20px
	&__row
		padding: 40px 0 10px
		.land__list
			li
				width: 33.3%
				+r(700)
					width: 100%
	&__list
		margin: 0 -10px 
		font-size: 0
		i
			display: block
			width: 40px
			height: 40px
			background: #00b0eb
			+border-radius(50%) 
			position: relative
			margin: 0 0 20px 
			&:before
				content: "" 
				position: absolute
				top: 50%
				left: 50%
				margin: -6px 0 0 -6px 
				+s(ok)
		li
			+reg
			font-size: 12px
			line-height: 16px
			color: #666 
			display: inline-block
			vertical-align: top
			width: 100%
			padding: 0 10px 30px
			+box 
	&__work
		background: #00B0EB 
		padding: 40px 0 20px 
		position: relative
		+box
		min-height: 720px 
		h5
			color: #fff
		.land__box
			float: right
			padding-left: 10px
			+r(800)
				padding: 0
		.land__list
			li
				color: #fff
				span
					display: block
					font-size: 16px
					width: 40px
					height: 40px
					line-height: 42px
					text-align: center
					background: #fff 
					color: #00b0eb
					+border-radius(50%) 
					position: relative
					margin: 0 0 20px

	&__left
		font-size: 0
		padding: 40px 0 0
		position: absolute
		top: 40px
		left: 0
		text-align: center
		width: 54%
		max-width: 870px
		z-index: 3 
		+r(1300)
			width: 60%
		+r(800)
			width: 100%
			position: static
			padding: 0 0 20px 
		img
			margin-bottom: 20px
			max-width: 100%
	&__box
		width: 33.3%
		+box
		+r(800)
			width: 100%
	&__start		
		background: #00b0eb
		position: relative
		color: #fff 
		text-align: center
		padding: 40px 0 20px 
		&:after
			content: "" 
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			background: url(../img/land-start.png) no-repeat
			+cover
			background-position: center center 
			+opacity(0.15) 
		h5
			color: #fff 
		p
			max-width: 400px
			margin: 0 auto 
	&__footer
		padding: 40px 0 15px
		background: #f7f8fb
	&__partners
		font-size: 0
		div
			display: inline-block
			vertical-align: top
			max-width: 160px
			margin: 0 20px 20px 0
			a
				display: block
				&:hover
					img
						+gray-zero
			img
				margin-bottom: 10px
				+gray
				+transition(all 0.3s)
			p
				color: #666666 
				font-size: 11px
				+reg

.page	
	background: #0eb0ea  
	+border-radius(0 0 2px 2px)
	h4
		color: #fff 
		margin-bottom: 24px
	&__bottom
		border: 1px solid rgba(255, 255, 255, 0.2)
		padding: 20px 
.about
	padding: 20px 20px 7px
	h5, p, a, li
		color: #fff 
	&__advertisement
		float: right
		width: 100%
		max-width: 280px
		margin-left: 25px
		+r(800)
			margin: 0 0 25px
			float: none 
	&__text
		overflow: hidden
		div
			max-width: 560px
		p, li
			margin-bottom: 13px
			font-size: 12px
			b
				+bold
		ul
			li
				padding: 0 0 0 20px
				position: relative
				&:before
					content: "" 
					position: absolute
					top: 6px
					left: 8px
					width: 4px
					height: 4px
					+border-radius(50%)
					background: #fff  
				span
					display: block
					max-width: 510px
				small
					display: block
					color: #B3E5FC
					font-size: 10px
					line-height: 1
		div
			ul
				padding: 0 15px 
				font-size: 0
				margin-bottom: 13px
				li
					padding: 5px 
					margin: 0
					display: inline-block
					&:before
						display: none
					a
						display: block
						width: 80px
						height: 80px
						border: 1px solid rgba(255, 255, 255, 0.2)
						+border-radius(2px)
						+vertical
						+box
						+transition(all 0.3s)
						&:hover
							border-color: rgba(255, 255, 255, 0.4) 
						img
							display: inline-block
							vertical-align: middle
							max-width: 95%
.topic
	display: block
	border: 1px solid rgba(255, 255, 255, 0.2)
	+border-radius(2px)
	+transition(background 0.3s, border 0.3s)
	position: relative
	padding: 9px 40px 9px 9px
	+clr 
	margin-bottom: 10px 
	&.is-active, &:hover
		background: rgba(255, 255, 255, 0.2)
		border-color: #FFF
	&__sticker
		position: absolute
		top: -1px
		right: 4px
		background: #ffd900
		line-height: 1 
		width: 30px
		text-align: center
		z-index: 2 
		padding: 5px 0 2px 
		&:before, &:after
			position: absolute
			top: 100%
			content: ""
		&:before
			left: 0
			+arr(15, 10, #ffd900, tl)
		&:after
			right: 0
			+arr(15, 10, #ffd900, tr)
	&__img
		width: 38px
		height: 38px
		font-size: 0
		float: left
		border: 1px solid #fff
		margin-right: 10px
		img
			width: 100%
			height: 100%
	&__info
		overflow: hidden
	&__title
		font-size: 12px
		+reg
		line-height: 1
		display: block
		margin-bottom: 8px
	&__lines
		width: 150px
		border-top: 1px solid #fff
		position: relative
		height: 10px
		display: block
		&:before, &:after
			content: "" 
			position: absolute
			left: 0
			border-top: 1px solid #fff
		&:before
			width: 130px
			top: 4px
		&:after
			width: 100px
			bottom: 0

.my
	background: #fff
	+border-radius(2px)
	padding: 20px 60px  0 20px
	+clr
	position: relative
	+r(500)
		padding: 20px 20px 20px 20px 
	&__img
		border: 1px solid #EEE
		background: #111
		width: 180px
		height: 140px
		+box
		float: left
		margin: 0 20px 20px 0
		+r(700)
			float: none
			margin: 0 auto 20px
		img
			width: 100%
			height: 100%
	&__info
		overflow: hidden
		padding: 0 0 20px
		+r(700)
			clear: both
			overflow: hidden 
	&__header
		+clr
		margin-bottom: 15px
	&__title
		color: #333
		+bold
		font-size: 14px
		float: left 
		+r(500)
			float: none
			display: block
	&__date
		color: #999
		font-size: 12px
		+reg
		float: right
		padding: 1px 0 0  
		+r(500)
			float: none
			display: block
	&__text
		max-width: 610px
		margin-bottom: 10px
		p
			color: #666
			font-size: 12px
			+reg 


.item
	+clr
	position: relative
	padding: 19px 19px 0 
	background: #fff 
	margin-bottom: 20px
	border: 1px solid #fff
	&.is-error
		background: rgba(244, 67, 54, 0.1) 
		border-color: #F44336 
	&.is-wait
		background: rgba(255, 217, 0, 0.1) 
		border-color: #FFD900 
	&__img
		float: left
		width: 180px
		height: 140px
		+vertical
		margin: 0 20px 19px 0 
		border: 1px solid #EEE
		background: #fff 
		+box
		+r(700)
			float: none
			margin: 0 auto 20px
		img
			max-width: 100%
			max-height: 100%
			display: inline-block
			vertical-align: middle
	&__info
		overflow: hidden
		position: relative
		padding: 0 0 19px 
	&__title
		display: block
		+bold
		font-size: 14px
		color: #333
		line-height: 1
		padding: 0 30px 0 0
	&__text
		padding: 25px 0 0 
		height: 70px 
		overflow: hidden
		p
			+reg
			font-size: 12px
			color: #333 
			line-height: 1.2
			max-width: 99%
			height: 42px 
			overflow: hidden
	&__number
		position: absolute
		top: 20px
		right: 20px
		+border-radius(50%)
		background: #0EB0EA
		text-align: center
		width: 20px
		line-height: 20px
		+bold
		font-size: 11px
		color: #fff 
		+r(460)
			top: 10px
			right: 10px
	&__bottom
		font-size: 0
		+clr
		+r(460)
			text-align: center
	.status
		margin-right: 19px
		float: left
		+r(900)
			margin-bottom: 10px
		+r(460)
			float: none
			margin: 0 0 10px 
	.btn
		float: right
		+r(900)
			float: none
			display: block
			clear: both
		+r(460)
			margin: 0 auto
	.date
		float: left
		+r(900)
			float: right
			margin-bottom: 10px
		+r(460)
			float: none
			display: block
			margin: 0 auto 10px
	&__overlay
		position: absolute
		top: -1px
		left: -1px
		right: -1px
		bottom: -1px
		background: #fff 
		+border-radius(2px)
		+opacity(0.95)
		&:after
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0			
			background-color: rgba(14, 176, 234, 0.55)
			+opacity(0.55)
			content: "" 
			z-index: 5 
	&__block
		position: absolute
		top: -1px
		left: -1px
		right: -1px
		bottom: -1px
		border: 1px solid rgba(14, 176, 234, 0.5)
		+border-radius(2px)
		+vertical
	&__inner
		display: inline-block
		vertical-align: middle
		z-index: 10 
		width: 100%
		padding: 0 5px
		+box 
	&__view, &__edit
		background: #fff 
		display: inline-block
		vertical-align: top
		height: 50px
		+box
		position: relative
		margin: 5px 
		text-align: center
		+r(460)
			display: block
			margin: 10px auto 
	&__view
		width: 100%
		max-width: 260px
		+border-radius(25px)
		padding: 0 10px 0 55px 
		+vertical
		span
			display: inline-block
			vertical-align: middle
			+reg
			font-size: 12px
			color: #0EB0EA
		i
			position: absolute
			top: 5px
			left: 5px
			height: 40px 
			width: 40px
			+border-radius(50%)
			background-color: #0EB0EA
			&:before
				content: "" 
				position: absolute
				top: 12px
				left: 7px
				+s(item-view)
	&__edit
		+border-radius(50%)
		width: 50px
		&:before
			content: "" 
			position: absolute
			top: 12px
			left: 14px
			+s(item-edit)
.date
	+reg
	font-size: 12px
	color: #666
	line-height: 1
	padding: 9px 0
	display: inline-block
	vertical-align: top 		
.status
	+reg
	font-size: 12px
	color: #333
	width: 160px
	padding: 0 33px 
	line-height: 28px
	height: 30px
	overflow: hidden
	+box  
	border: 1px solid #333
	+border-radius(15px)
	background: #fff
	position: relative
	display: inline-block
	vertical-align: top
	white-space: nowrap
	&.is-success
		border-color: #4CAF50
		i
			background-color: #4CAF50
			&:before
				+s(status-ok)
				top: 5px
				left: 5px
	&.is-error
		border-color: #F44336 
		i
			background-color: #F44336
			&:before
				+s(status-error)
				top: 6px
				left: 6px
	&.is-wait
		border-color: #FFD900
		i
			background-color: #FFD900
			&:before
				+s(status-wait)
				top: 5px
				left: 9px		
	i
		position: absolute
		top: 4px
		left: 4px
		width: 20px
		height: 20px
		+border-radius(50%)
		&:before
			position: absolute
			content: "" 
	&__refresh
		position: absolute
		top: 0
		right: 0
		bottom: 0
		width: 32px
		background-color: #FFD900
		&:before
			position: absolute
			content: "" 
			+s(status-refresh)
			top: 6px
			left: 8px
			+transition(all 0.3s)
	

.s-item
	display: table
	width: 100%
	background: #fff
	+border-radius(2px) 
	margin-bottom: 20px
	+r(980)
		display: block
	&__inner
		display: table-row
		+r(980)
			display: block
	&__heading, &__calls, &__missed
		display: table-cell
		vertical-align: middle
		+clr
		padding: 19px
		+box
		position: relative
		+r(980)
			display: block
	&__heading
		width: 47%
		+r(980)
			border-bottom: 1px solid #f0f1f5
			width: 100%
		&:before
			border-right: 1px solid #f0f1f5 
			position: absolute
			top: 0
			bottom: 0
			right: 0
			content: ""
			+r(980)
				display: none
	&__calls
		width: 42%
		font-size: 0
		padding-bottom: 10px
		+r(980)
			border-bottom: 1px solid #f0f1f5
			width: 100%
		&:before
			border-right: 1px solid #f0f1f5 
			position: absolute
			top: 0
			bottom: 0
			right: 0
			content: ""
			+r(980)
				display: none
	&__missed
		width: 11%
		padding: 19px 4px
		text-align: center 
		+r(980)
			width: 100%
		div
			+box
			border: 1px solid #F44336
			background: #fff
			+border-radius(15px)
			padding: 4px 4px 4px 4px
			text-align: center 
			display: inline-block
			min-width: 55px 
			i
				background: #F44336
				+border-radius(50%)
				width: 20px
				height: 20px
				float: left
				text-align: center
				line-height: 18px
				&:before
					content: "" 
					display: inline-block
					vertical-align: middle
					+s(phone)
			span
				line-height: 20px 
				display: block
				overflow: hidden
				+reg
				font-size: 12px
				color: #333 
				padding: 0 4px 
	&__id
		+bold
		font-size: 11px
		color: #fff
		background: #0EB0EA
		+border-radius(10px)
		float: left
		margin-right: 20px
		line-height: 20px
		padding: 0 8px 
		text-align: center
		+r(600)
			display: inline-block
			float: none
			margin: 0 0 10px 
	&__title
		+bold
		font-size: 14px
		color: #333
		display: block
		overflow: hidden
		line-height: 20px
	&__call
		// border: 1px solid #0EB0EA
		border: 1px solid transparent
		+box
		+border-radius(15px)
		background: #fff
		+clr
		position: relative
		white-space: nowrap
		max-width: 30px
		padding: 0 0 0 28px 
		cursor: pointer
		display: inline-block
		vertical-align: top
		margin: 0 10px 10px 0
		overflow: hidden
		&.is-active
			max-width: 170px
			span
				i
					&:before
						top: 5px
						left: 5px
						right: 5px
						bottom: 5px
		&.is-blue
			&.is-active
				border-color: #0EB0EA
			i
				&:before
					background: #0EB0EA
		&.is-green
			&.is-active
				border-color: #4caf50
			i
				&:before
					background: #4caf50
		span
			position: absolute
			top: -1px
			left: -1px
			bottom: -1px
			width: 30px
			+vertical
			&.is-phone
				i
					&:after
						+s(phone)
			&.is-docs
				i
					&:after
						+s(docs)
			i
				width: 30px
				height: 30px
				line-height: 30px
				+border-radius(50%)
				display: inline-block
				text-align: center
				position: relative
				&:before
					content: "" 
					position: absolute
					top: 0
					left: 0
					bottom: 0
					right: 0
					+transition(all 0.25s)
					+border-radius(50%)
				&:after
					content: "" 
					display: inline-block
					vertical-align: middle
					position: relative
		time
			line-height: 28px
			+reg
			font-size: 12px
			color: #333
			padding-right: 14px
			display: block 
			white-space: nowrap
			overflow: hidden
			-ms-text-overflow: ellipsis
			text-overflow: ellipsis

.popup-wrap
	+vertical
	width: 100%
	min-height: 100%
	+box
	position: fixed
	top: 0
	right: 0
	left: 0
	bottom: 0
	z-index: 1000 
	display: none
	overflow: auto
	&.is-active
		display: block
.popup-wrapper
	+vertical
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	padding: 20px 10px
	overflow: auto
	z-index: 100 
	background: rgba(0, 0, 0, 0.5) 
	min-width: 300px
.popup
	display: inline-block
	vertical-align: middle
	width: 100%
	background: #fff 
	text-align: left
	min-width: 300px 
	max-width: 320px
	margin: 0 auto 10px 
	+border-radius(2px)
	z-index: 150 
	position: relative
	display: inline-block
	&__inner
		padding: 20px 
		position: relative
		text-align: center
	&__link
		padding: 12px 20px
		border-top: 1px solid #efefef  
		text-align: center
	h3
		margin-bottom: 15px
		+reg
		font-size: 22px
		color: #333
	p
		+reg
		font-size: 12px
		line-height: 1.3
		margin-bottom: 15px
		color: #666666
		strong
			+bold
			margin: 0 5px
	.input
		margin-bottom: 10px
	.checkbox
		float: left
		width: auto
		margin: 0 0 10px
	.p-link
		font-family: "HelveticaNeue Roman", Helvetica, sans-serif
		font-size: 12px
		color: #2196f3
		display: inline-block
	.btn
		clear: both
		width: 100%
	&__login
		.p-link			
			float: right
			padding: 3px 0 0
			margin: 0 0 10px
	&__close
		+s(close)
		position: absolute
		top: 15px
		right: 15px