.productmob
	margin: 0 10px 
	.productmob__title
		font-size: 13px 
		color: #363636
		+museo
		font-weight: 300 
		line-height: 1.3
		padding-top: 5px  
		margin-bottom: 7px 
	.productmob__left
		float: left
		margin-right: 15px 
	.productmob__right
		overflow: hidden
	.productmob__rating
		margin-bottom: 20px 
		img
			display: block
			width: 120px
	.productmob__price
		padding-left: 50px  
		position: relative
		font-size: 11px 
		span
			display: block
			font-size: 13px 
		&:before
			position: absolute
			left: 0
			top: 0
			+s(price)
			content: ' '
	.productmob__none
		padding-left: 50px  
		position: relative
		font-size: 11px 
		padding-top: 10px 
		min-height: 50px 
		&:before
			position: absolute
			left: 0
			top: 0
			+s(noseller)
			content: ' '

	.productmob__dl
		clear: both
		dt
			background: #FCFCFD 
			border: 1px solid #DFDFDF 
			height: 50px 
			line-height: 50px
			padding: 0 0 0 15px
			position: relative
			font-size: 16px 
			margin-bottom: 5px 
			&:before
				content: ' '
				position: absolute
				right: 15px
				top: 50%
				+s(arr-categories)  
				margin-top: -5px 
		dd
			display: none
			padding-top: 5px 
			padding-bottom: 7px 
			color: #363636 
			+museo
			font-size: 11px 
		&.is-active
			dt
				&:before
					+transform(rotate(90deg))
			dd
				display: block
	.productmob__list
		border-spacing: 0
		border-collapse: collapse
		width: 100%

		thead
			th
				font-weight: normal
				text-align: center
				font-size: 10px 
				+museo
				font-weight: 500
				color: #666666  
				padding-bottom: 6px 
		tbody
			td
				padding-bottom: 17px 
				border-bottom: 1px solid #EDEDED 
				padding-top: 17px 
				&:last-child
					text-align: right
			tr:first-child
				td
					padding-top: 0 
			tr:last-child
				td
					padding-bottom: 5px
					border-bottom: none  

	.productmob__state
		background: #ECEEF0 
		height: 25px 
		line-height: 25px
		border-radius: 20px
		text-align: center
		display: block 
		color: #88949C 
		+museo
		font-weight: 500
		padding: 0 10px 
	.productmob__price1
		+museo
		font-weight: 500
		color: #3D3D3D  
		text-align: center
		font-size: 13px 
		display: block
		padding: 0 15px 
	.productmob__call
		height: 35px 
		line-height: 35px
		background: #61A0F9  
		border-radius: 35px
		font-size: 14px 
		color: #fff 
		display: inline-block
		text-align: center
		padding: 0 30px 0 32px
		position: relative
		+museo
		font-weight: 500 
		&:before
			content: ' '
			position: absolute
			left: 15px 
			+s(call)
			top: 50%
			margin-top: -7px  
.lookingfor
	text-align: center
	margin-bottom: 20px 
	&__title
		font-size: 15px 
		text-align: center
		color: #3B4952 
		margin-bottom: 7px 
	.lookingfor__buy,.lookingfor__sell
		display: inline-block
		height: 30px
		line-height: 30px
		text-align: center
		width: 120px   
		text-decoration: none
		text-transform: uppercase
		box-sizing: border-box
		border-radius: 30px
		cursor: pointer
		+museo
		font-weight: 500 
	.lookingfor__buy
		margin-right: 15px 
		
		color: #61A0F9 
		border: 1px solid #61A0F9 
	.lookingfor__sell
		background: #FCD83D 
		color: #3D3D3D 
